<div class="favorite">
<div class="banner">
    <img src="https://scontent.fhan14-4.fna.fbcdn.net/v/t39.30808-6/257975637_200610915584466_4462337435995872015_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=e3f864&_nc_ohc=_RPf4P2Gq-EAX9MOQdC&_nc_ht=scontent.fhan14-4.fna&oh=00_AfARS0onrzfCju6gf1y3NKKOxagFmGh7cv4vJIWTqgsTQw&oe=647B335D" alt="">
</div>
<!-- <select class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select> -->
<div class="product">
<div class="colum"  *ngFor="let item of products" >
    <div class="image">
      <a routerLink="/products/{{item.idProduct._id}}"  > <img src="{{item.idProduct.image}}" alt=""></a> 
    </div>
    <div class="info">
        <h1>{{item.idProduct.name}}</h1>
        <p style="color: #f8452d;font-size: 20px;">{{item.idProduct.price}}.000₫</p>
        <p id="desc">Các chất có trong xoài có khả năng làm se khít lỗ chân lông trên da một cách hiệu quả. Điều này có nghĩa là xoài có ích trong việc ngăn ngừa mụn.</p>

        <button>Mua ngay</button>
        <i (click) ="removeFv(item.idProduct._id)" style="cursor: pointer;" class="fa fa-heart" aria-hidden="true"></i>
    </div>

</div>

</div>
<div class="err"  style="text-align: center;">
<ng-container *ngIf="products.length==0">
  <img style="width: 50px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png" alt="">
<h1 style="color: #c7a17a;">Không có sản phẩm yếu thích</h1>
</ng-container>
</div>
</div>

