<div class="container-fluid">
  <div class="row">
    <div class="col-md-auto bg-light sidebar pr-0">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-4">Sidebar</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a routerLink="/admin" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2"></use>
              </svg>
              Dashboard
            </a>
          </li>
          <li>
            <a routerLink="/admin/products" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#grid"></use>
              </svg>
              Products
            </a>
          </li>
          <li>
            <a routerLink="/admin/category" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#grid"></use>
              </svg>
              Category
            </a>
          </li>
          <li>
            <a routerLink="/admin/addproduct" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#table"></use>
              </svg>
              Add new product
            </a>
          </li>
          <li>
            <a routerLink="/admin/addcategory" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#grid"></use>
              </svg>
              Add new category
            </a>
          </li>

          <li>
            <a routerLink="/admin/statistical" class="nav-link link-dark">
              <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#people-circle"></use>
              </svg>
              Statistical
            </a>
          </li>
        </ul>
        <hr />
      </div>
      <!-- <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
         <router-outlet></router-outlet>
      </div> -->
   </div>
</div>

<!-- Bootstrap scripts -->