<h2 class="text-center">Giỏ hàng</h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Tên sản phẩm</th>
                <th style="width:10%">Giá</th>
                <th style="width:8%">Số lượng</th>
                <th style="width:22%" class="text-center">Thành tiền</th>
                <th style="width:10%"> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img
                                src="https://bizweb.dktcdn.net/thumb/large/100/270/285/products/05-a41e0c7f-e4c9-4ad2-9412-1e8c4d79a028.jpg?v=1510561983257"
                                alt="Sản phẩm 1" class="img-responsive" width="100">
                        </div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">Sản phẩm 1</h4>
                            <p>Thơm ngon đậm vị</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">200.000 đ</td>
                <td data-th="Quantity"><input class="form-control text-center" value="1" type="number">
                </td>
                <td data-th="Subtotal" class="text-center">200.000 đ</td>
                <td class="actions" data-th="">
                    <button class="btn btn-info btn-sm"><i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img
                                src="https://bizweb.dktcdn.net/thumb/large/100/270/285/products/2016910153030-tra-olong-sui-bot.jpg?v=1510561084490"
                                alt="Sản phẩm 1" class="img-responsive" width="100">
                        </div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">Sản phẩm 2</h4>
                            <p>Siêu ngon mát lạnh</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">300.000 đ</td>
                <td data-th="Quantity"><input class="form-control text-center" value="1" type="number">
                </td>
                <td data-th="Subtotal" class="text-center">300.000 đ</td>
                <td class="actions" data-th="">
                    <button class="btn btn-info btn-sm"><i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="visible-xs">
                <td class="text-center"><strong></strong>
                </td>
            </tr>
            <tr>
                <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục
                        mua hàng</a>
                </td>
                <td colspan="2" class="hidden-xs"> </td>
                <td class="hidden-xs text-center"><strong>Tổng tiền 500.000 đ</strong>
                </td>
                <td><a href="/pay" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a>
                </td>
            </tr>
        </tfoot>
    </table>
</nav>