<div class="d-flex justify-content-center p-5">

  <form class="form form-login" (ngSubmit)="onSubmit()">
    <h1>Register</h1>
  
    <div class="form-group">
    <div class="mb-3">

        <label for="username" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          id="username"
          name="username"
          placeholder="Enter email"
          [(ngModel)]="credentials.username"
          placeholder="Email"
          required
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        [(ngModel)]="credentials.password"
        placeholder="Password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Repassword</label>
      <input
        type="password"
        class="form-control"
        id="repassword"
        name="repassword"
        [(ngModel)]="credentials.repassword"
        placeholder="Repassword"
        required
      />
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>