* {
  padding: 0;
  max-width: 100%;
}

ul li {
  list-style: none;
  margin-bottom: -15px;
  color: #fff;
}

h4 {
  color: #fff;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.container-wrap {
  background-color: #343a40;
  text-align: center;
  width: 100%;
  /* height: 250px; */
  align-items: center;
  padding-top: 50px;
  margin: 0 !important;
}

.list-inline-item {
  padding-left: 7px;
}

.list-inline-item a {
  font-size: 24px;
}

.mb-4 img {
  padding-bottom: 30px;
}

.mr-3 {
  /* padding-left: 50px; */
  padding-right: 50px;
}