<footer class="bg-light pt-5">
  <div class="container-wrap">
    <div class="row">
      <div class="col-md-4 mb-4">
        <img src="https://bizweb.dktcdn.net/100/270/285/themes/895115/assets/home.png?1676358260059" alt="" />
        <h4>Giờ mở cửa</h4>
        <ul>
          <li class="mb-3">
            <a href="#">Thứ 2-6:
              <span style="
                  color: #898989;
                  font-family: Noto Serif, serif;
                  font-size: 14px;
                  font-weight: 400;
                ">8h00 am - 22h00 pm</span></a>
          </li>
          <li class="mb-3">
            <a href="#">Thứ 7-CN:
              <span style="
                  color: #898989;
                  font-family: Noto Serif, serif;
                  font-size: 14px;
                  font-weight: 400;
                ">9h00 am - 21h00 pm</span></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://bizweb.dktcdn.net/100/270/285/themes/895115/assets/email.png?1676358260059" alt="" />
        <h4>Thông tin liên hệ</h4>
        <ul>
          <li class="mb-3"><i class="fa fa-envelope mr-2"></i>nhom6@fpt.edu.vn</li>
          <li class="mb-3"><i class="fa fa-map-marker mr-2"></i>123 Street, City, Country</li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <img src="https://bizweb.dktcdn.net/100/270/285/themes/895115/assets/connect.png?1676358260059" alt="" />
        <h4>Kết nối với chúng tôi</h4>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <footer class="py-3 bg-secondary text-white">
    <div class="container1">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6 text-center text-md-left">
          <p class="mb-0">Designed and made with 💖 by Nhom 6</p>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <ul class="list-unstyled mb-0">
            <li class="d-inline-block mr-3"><a href="#">Trang chủ</a></li>
            <li class="d-inline-block mr-3"><a href="/products">Sản phẩm</a></li>
            <li class="d-inline-block mr-3"><a href="#">Giới thiệu</a></li>
            <li class="d-inline-block mr-3"><a href="#">Liên hệ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</footer>