<footer class="bg-light">
  <div class="pt-5 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4">
          <ul>
            <li class="mb-3"><a href="#">Trang chủ</a></li>
            <li class="mb-3"><a href="#">Sản phẩm</a></li>
            <li class="mb-3"><a href="#">Giới thiệu</a></li>
            <li class="mb-3"><a href="#">Liên hệ</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <ul>
            <li class="mb-3"><a href="#">Điều khoản sử dụng</a></li>
            <li class="mb-3"><a href="#">Chính sách bảo mật</a></li>
            <li class="mb-3"><a href="#">Điều kiện vận chuyển</a></li>
            <li class="mb-3"><a href="#">Thông tin thanh toán</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <h5>Thông tin liên hệ</h5>
          <ul>
            <li class="mb-3"><i class="fa fa-phone mr-2"></i>123456789</li>
            <li class="mb-3">
              <i class="fa fa-envelope mr-2"></i>contact@domain.com
            </li>
            <li class="mb-3">
              <i class="fa fa-map-marker mr-2"></i>123 Ha noi Viet Nam
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <h5>Theo dõi chúng tôi</h5>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center text-white">
          <p class="mb-0">© 2023 Your Company. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>