@import '~bootstrap/dist/css/bootstrap.css';
.navbar{
 margin: 0 !important;
 background-color: var(--primary-color) !important;
}
header{
   background-color: var(--2light-color) !important;
}
.row {
   width: 100%;
   align-items: center;
   text-align: center;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   height: 75px;
   margin-top: 20px;
   margin-bottom: 40px;
}
.active-link {
   font-size: 1.4rem;
   font-weight: bold;
   border-bottom: 1px solid var(--2light-color) !important;
}

.logo {
   margin-right: 20px;
}
.btn-search{
   padding: 1rem;
   width: 1.5rem;
   height: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   border-radius: 50%;
   background-color: transparent;
   border:1px solid white;
}
.navbar-nav ul {
   align-items: center;
}
.navbar-nav li {
   color: white;
   font-size: 1.3rem;
}

.dropdown:hover > .dropdown-menu {
   display: block;
}
.drop-cart {
   position: absolute;
   min-width: 300px;
   right: 0;
}

.drop-user {
   position: absolute;
   min-width: 150px;
   right: 0;
}

.dropdown > .dropdown-toggle:active {
   /*Without this, clicking will make it sticky*/
   pointer-events: none;
}

.cart-body {
   min-height: 100px;
   max-height: 500px;
   overflow-y: auto;
}

.cart-footer {
   padding-left: 1rem;
   padding-right: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.btn-logout {
   width: 100%;
   border: 1px solid var(--primary-color) !important;
   color: var(--primary-color) !important;
   background-color: white !important;
   padding: 0.2rem;
   border-radius: 5px;
   margin-top: 1rem;
}
.open-modal {
   cursor: pointer;
   font-weight: 600;
}