
 <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <a class="navbar-brand me-5" routerLink="/">
        <img src="https://bizweb.dktcdn.net/100/270/285/themes/895115/assets/logo.png?1676358260059" alt="logo của trang web">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-grow-1" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" style="font-weight: bold; font-size: 19px; color: black">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Giới thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/new">Tin tức</a>
          </li>
        </ul>


        <form class="d-flex mb-0" >
          <input class="form-control me-3" type="search" placeholder="Tìm kiếm sản phẩm" aria-label="Search" ng-model="searchText">
          <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
  
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <li class="nav-item dropdown" style="margin-left: 20px; margin-right: 20px">
  
            <a routerLink="/cart" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false"><i
              class="fa fa-shopping-cart fs-5" style="color: #e5d300"></i></a>
  
            <ul class="dropdown-menu dropdown-menu-lg-end drop-cart" aria-labelledby="dropdownMenuButton">
              <h3 class="dropdown-header">Cart</h3>
              <div class="dropdown-body">
                <li>
                  <a class="dropdown-item" routerLink="#">
                    <app-product-in-cart></app-product-in-cart>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="#">
                    <app-product-in-cart></app-product-in-cart>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="#">
                    <app-product-in-cart></app-product-in-cart>
                  </a>
                </li>
              </div>
              <li>
                <hr class="dropdown-divider">
              </li>
              <div class="dropdown-footer">
                <p>Total:</p>
                <p>6000 vnd</p>
              </div>
            </ul>
          </li>
  
          <div class="nav-item dropdown">
            <a  href="" id="dropdownUserButton"  data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user fs-5" style="color: #e5d300"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end drop-user p-2" aria-labelledby="dropdownUserButton">
              <div class="d-flex flex-column align-items-center">
                <a class="dropdown-item" routerLink="/login">Sign in</a>
                <a class="dropdown-item" routerLink="/signup">Sign up</a>
              </div>
            </ul>
          </div>
        </ul>


      </div>

      

    </div>
  </nav>
</header>
