
<div class="container-newsites">
  <div class="tong">

    <div class="trai">

     

      <div class="tieudet">
        <h3>Bài viết liên quan</h3>
      </div>
      <hr>
      <div class="card">
        
        <img src="https://duhocchaudaiduong.edu.vn/nhung-hinh-anh-tra-sua-dep-nhat/imager_529.jpg"
          alt="">
        <div class="card-body">
          <h5 class="card-title">Card with stretched link</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary stretched-link">Thông tin chi tiết</a>
        </div>
      </div>

      <div class="cardd">
        <div class="card-titled"><h3>Tin tức</h3></div>
        <div class="card-bodyd">
        
          <h6 class="card-textd"><a href="">Làm trà sữa tại nhà</a></h6>
          <hr>
          <h6 class="card-textd"><a href="">Cách pha chế trà sữa truyền thống</a></h6>
          <hr>
          <h6 class="card-textd"><a href="">Đồ ăn nhanh tại nhà</a></h6>
          <hr>
          <h6 class="card-textd"><a href="">Shiper đến tận giường</a></h6>
          <hr>
          <h6 class="card-textd"><a href="">Ly giấy thay cho ly nhựa</a></h6>
          
        </div>
      </div>

    </div>

    <div class="phai">

      <div class="tieude">
        <h4>Tin tức</h4>
      </div>

      <div class="row g-0 bg-body-secondary position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEztN7MDkf-sOOa8LuCaktT8XVEjlKP7zLTVIXLUchNr-aUs7mirSeaCCvAq0WswrU0DM&usqp=CAU" alt="">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0">Columns with stretched link</h5>
          <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some
            real-world content would look like, and we're using it here to give the component a bit of body and size.
          </p>
          <a href="#" class="stretched-link">xem thêm </a>
        </div>
      </div>

      <div class="row g-0 bg-body-secondary position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEztN7MDkf-sOOa8LuCaktT8XVEjlKP7zLTVIXLUchNr-aUs7mirSeaCCvAq0WswrU0DM&usqp=CAU" alt="">        </div>
        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0">Columns with stretched link</h5>
          <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some
            real-world content would look like, and we're using it here to give the component a bit of body and size.
          </p>
          <a href="#" class="stretched-link">xem thêm </a>
        </div>
      </div>

      <div class="row g-0 bg-body-secondary position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEztN7MDkf-sOOa8LuCaktT8XVEjlKP7zLTVIXLUchNr-aUs7mirSeaCCvAq0WswrU0DM&usqp=CAU" alt="">        </div>
        <div class="col-md-6 p-4 ps-md-0">
          <h5 class="mt-0">Columns with stretched link</h5>
          <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some
            real-world content would look like, and we're using it here to give the component a bit of body and size.
          </p>
          <a href="#" class="stretched-link">xem thêm </a>
        </div>
      </div>

   <div class="thongtin">
      <h2>Thông tin</h2>
      <p>Có phải bạn đang tìm quán trà sữa ngon nhất Sài Gòn nhưng có quá nhiều thương hiệu khiến bạn phân vân? Vấn đề tưởng chừng khó giải quyết nhưng lại đơn giản vô cùng một khi đọc xong bài viết ngay bên dưới!</p>

      <img src="https://inbimi.com/wp-content/uploads/2022/01/tra-sua-sai-gon-.jpg" alt="">
      <p style="text-align: center;">Ảnh nhíp ảnh gia Đức</p>
<p>Cho dù có nhiều đồn đoán về tương lai suy thoái thì dẫu vậy, trà sữa vẫn là thức uống bán chạy trên thị trường. Không chỉ giới trẻ, mà người già, trẻ con đều yêu thích hương vị độc đáo của loại đồ uống này. Chẳng biết nó sẽ hết HOT khi nào, nhưng cho đến thời điểm đó, nhất định phải chinh phục hết tất cả những quán trà sữa ngon Sài Gòn. Vậy thì còn chần chừ gì nữa, hãy cùng INBIMI xem ngay để biết đó là những quán nào nhé!</p>


    </div>



    </div>






  </div>
</div>