<h1>Danh sách sản phẩm</h1>
<a routerLink="/admin/addproduct"><button type="button" class="btn btn-warning">AddNewProducts</button></a>
<table class="table">
   <thead class="thead-dark">
      <tr>
         <th>Stt</th>
         <th scope="col">Name</th>
         <th scope="col">Price</th>
         <th scope="col">Image</th>
         <th scope="col">Action</th>
      </tr>
   </thead>

   <tbody *ngFor="let product of adminProducts; let i = index">
      <tr>
         <td>{{ i + 1 }}</td>
         <td>{{ product.name }}</td>
         <td>{{ product.price }} $</td>
         
         <td id="tdimg"><img src="{{ product.image }}" alt="{{ product.name }}" /></td>
         <td>
            <button routerLink="/admin/updateproduct/{{ product._id }}" type="button" class="btn btn-outline-primary">
               Update
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="deleteProduct(product._id)">Delete</button>
            <span>{{ product.id }}</span>
         </td>
      </tr>
   </tbody>
</table>