<div class="banner">
   <h1>Tất cả sản phẩm</h1>
</div>
<div class="container">
   <h1>Danh sách sản phẩm</h1>
   <div class="row">
      <div class="col-md-3">
         <form
            id="formSearch"
            action=""
            (ngSubmit)="search()"
            style="
               display: flex;
               align-items: center;
               border: 1px solid #ccc;
               border-radius: 20px;
               padding: 10px;
               margin-bottom: 20px;
            "
         >
            <input [(ngModel)]="formSearch.search" type="search" name="search" id="search" placeholder="...Search" />
            <button style="border: none; background: none"><i class="fa fa-search" aria-hidden="true"></i></button>
         </form>
         <div>
            <label for="">Sắp xếp theo giá</label>
            <select class="form-select" [(ngModel)]="selectedSortOrder" (ngModelChange)="onSortOrderChange()">
               <option value="asc">Tăng dần</option>
               <option value="desc">Giảm dần</option>
            </select>
         </div>

         <div class="brand">
            <h4>Thương hiệu</h4>

            <ul class="list-group">
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  Gong Cha
               </li>
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  Good Tea
               </li>
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  Popapop
               </li>
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  Royal Tea
               </li>
            </ul>
         </div>

         <div class="Price">
            <h4>Mức giá</h4>

            <ul class="list-group">
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  100.000đ - 200.000đ
               </li>
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  200.000đ - 300.000đ
               </li>
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  300.000đ - 500.000đ
               </li>
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  500.000đ - 1.000.000đ
               </li>
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  Giá trên 1.000.000đ
               </li>
            </ul>
         </div>

         <div class="Size">
            <h4>Kích thước</h4>

            <ul class="list-group">
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  XXL
               </li>
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  XL
               </li>
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  L
               </li>
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  M
               </li>
               <li class="list-group-item">
                  <input class="checkbox-input me-1" type="checkbox" value="" aria-label="..." />
                  S
               </li>
            </ul>
         </div>
      </div>
      <div class="col-md-9">
         <div class="cate">
            <button (click)="currentProduct()">ALL</button>
            <div *ngFor="let category of categories">
               <button (click)="selectCate(category._id)">{{ category.name }}</button>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4" *ngFor="let product of filteredProducts">
               <a routerLink="{{ product._id }}">
                  <img [src]="product.image" [alt]="product.name" class="img-favorite" />
                  <h2>{{ product.name }}</h2>
                  <h5 style="color: var(--2light-color); font-weight: 700">{{ product.price }} vnd</h5>
               </a>
            </div>
         </div>
         <div class="paginate">
            <mat-paginator
               [length]="formattedPagination.length"
               [pageSize]="formattedPagination.pageSize"
               [pageSizeOptions]="formattedPagination.pageSizeOptions"
               [pageIndex]="formattedPagination.pageIndex"
               (page)="onPageChange($event)"
            >
            </mat-paginator>
         </div>

         <div style="text-align: center; margin-top: 30px">
            <ng-container *ngIf="error">
               <img
                  width="80px"
                  src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/a60759ad1dabe909c46a817ecbf71878.png"
                  alt=""
               />
               <h1 style="color: #f8452d">{{ error }}</h1>
            </ng-container>
         </div>
      </div>
   </div>
</div>
