.sidebar {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.sidebar h4 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  color: #000;
  text-decoration: underline;
}
.img-fluid img {
  height: 100%;
  width: 100%;
}
.img-fluid {
  padding-bottom: 15px;
}

.col-md-4 {
  text-align: center;
  padding: 15px;
}
.cate {
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.img-favorite{
  width: 60%;
  height: auto;
  aspect-ratio: 1/1;
}
.banner-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5em;
}
.banner-bottom img {
  width: 100%;
}
.img-icon {
  width: 6%;
}
.img-favorite{
  height: 70%;
  width: 65%;
}
.card-body {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 15px 30px;
  text-align: center;
  color: white;
}
.card-title {
  font-size: 22px;
}

.brand {
  margin-bottom: 20px;
}

.Price {
  margin-bottom: 20px;
}
.banner img{
  width: 100%;
}
.banner{
  background-image: url("https://phuctea.com.vn/wp-content/uploads/2020/11/banner-best-seller-01-scaled.jpg");
  background-repeat: no-repeat;
  height: 250px;
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100%;
}
 .paginate{
  display: flex;
  justify-content: center;
}
.cate button{
  padding: 5px 10px;
  border: none;
  background: none;
  color: #fff;
  border-radius: 25px;
  padding: 10px 20px;

}
.cate{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #c7a17a;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 30px;
 

}
.cate button:focus{
  background-color: #ef7147;
}
.list-group-item{
  display: flex;
  justify-content: start;
}
.checkbox-input{
  width: 1rem !important;
  height: 1rem !important;
}
input{
  border: 1px solid #ccc;
}

