<div class="d-flex justify-content-center p-5 modal-auth position-relative">
   <form class="form form-login mt-4" (ngSubmit)="addCate()" [formGroup]="cateForm">
      <h1 mat-dialog-title class="fw-semibold">Thêm mới danh mục</h1>

      <mat-form-field class="mb-2">
         <mat-label for="name" class="form-label">Tên danh mục</mat-label>
         <input class="form-control fs-5" matInput placeholder="Tên danh  mục" formControlName="name" />
         <!-- <mat-error *ngIf="cateForm.get('name')?.hasError('required')"> This field is required ! </mat-error>
         <mat-error *ngIf="cateForm.get('name')?.hasError('minlength')">
            Enter at least 3-characters !
         </mat-error>
         <mat-error *ngIf="cateForm.get('name')?.hasError('whitespace')">
            Name cannot contain only whitespace
         </mat-error> -->
         <mat-error *ngIf="cateForm.get('name')?.invalid && (cateForm.get('name')?.dirty || cateForm.get('name')?.touched)">
            <span *ngIf="cateForm.get('name')?.hasError('required')">Name is required</span>
            <span *ngIf="cateForm.get('name')?.hasError('minlength')">Name must be at least 3 characters long</span>
            <span *ngIf="cateForm.get('name')?.hasError('whitespace')">Name cannot contain only whitespace</span>
        </mat-error>
      </mat-form-field>

      <button type="submit" class="btn btn-submit w-full" mat-raised-button [disabled]="cateForm.invalid">Thêm danh mục</button>
   </form>
</div>
