.cart_eye{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 16px;
    transition: 1s;
  }
  .cart_eye i{
    background-color: #ccc;
    margin-left: 5px;
    padding: 10px;
    border-radius: 100%;
    color:#fff;
    cursor: pointer;
  }
  .cart_eye i:hover{
    background-color: #f8452d;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;
  }  
  .imgFavorite{
    overflow: hidden;
    height: 30%;
    display: flex;
    justify-content: center;
  }
  .product-block{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 3rem;
    max-height: 400px;
  }
  .wrapper{
     display: block;
  }
  .product-block:hover .cart_eye{
    display: block;
  }
  .product-block:hover .img-product{
    transform: scale(1.5);
    transition: 1s;
  }
  .img-product{
    width: 50%;
   object-fit: cover;
  }
  .info-product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }