<div class="py-5 text-center">
    <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
    <h2>Thanh toán</h2>
    <p class="lead">Vui lòng kiểm tra thông tin Khách hàng, thông tin Giỏ hàng trước khi Đặt hàng.</p>
</div>
<main>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <form>

                    <h3>Thông tin thanh toán</h3>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Họ tên</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Địa chỉ email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Địa chỉ</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Tỉnh / thành phố</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mã bưu điện</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Gửi thông báo cho tôi khi đơn hàng được
                            giao</label>
                    </div>
                    <hr class="my-4">
                    <h4>Phương thức thanh toán</h4>
                    <div class="my-4">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="exampleRadios1" name="exampleRadios"
                                value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Chuyển khoản
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="exampleRadios2" name="exampleRadios"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Tiền mặt
                            </label>
                        </div>

                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Ghi chú" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Ghi chú</label>
                    </div>
                    <h4>Tổng tiền: 1,000,000 VNĐ</h4>
                    <button type="submit" class="btn btn-primary mt-4">Đặt hàng</button>
                </form>
            </div>
            <div class="col-lg-4">
                <h4>Đơn hàng của bạn</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Tổng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tên sản phẩm 1</td>
                            <td>500,000 VNĐ</td>
                        </tr>
                        <tr>
                            <td>Tên sản phẩm 2</td>
                            <td>500,000 VNĐ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>