<section id="banner">
   <div class="container-fluid px-0">
      <img
         src="https://bizweb.dktcdn.net/100/270/285/themes/895115/assets/slider_1.jpg?1676358260059"
         alt="banner"
         class="img-fluid"
      />
   </div>
</section>
<div class="px-10 container-fluid py-5">
   <div class="row px-5">
      <div class="col-md-4 d-flex justify-content-center align-items-center flex-column gap-3">
         <img
            src="https://media.istockphoto.com/id/1306698815/vi/vec-to/giao-h%C3%A0ng-anh-ch%C3%A0ng-tr%C3%AAn-xe-m%C3%A1y-%C4%91ang-mang-b%C6%B0u-ki%E1%BB%87n-thi%E1%BA%BFt-k%E1%BA%BF-phim-ho%E1%BA%A1t-h%C3%ACnh-ph%E1%BA%B3ng.jpg?s=1024x1024&w=is&k=20&c=CTGkQj4ProWeOCB66I6Pi4Jw8pMKPapXs-2V_S4dcuc="
            alt="icon"
            class="img-fluid"
            style="width: 11.5%; aspect-ratio: 1/1"
         />
         <div class="col text-center">
            <p>Giao hàng miễn phí<br />Với các đơn hàng từ 100.000đ trở lên</p>
         </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center gap-3 flex-column">
         <img
            src="https://cdn-icons-png.flaticon.com/512/237/237205.png?w=740&t=st=1684150802~exp=1684151402~hmac=427f1f64663644b43feebfeb908f007013bf5ac6b4606a5254c3cccb3c0490bf"
            alt="icon"
            class="img-fluid"
            style="width: 11.5%; aspect-ratio: 1/1"
         />
         <div class="col text-center">
            <p>Phục vụ nhanh 24/7<br />8h00 am - 22h30 pm tất cả các ngày trong tuần</p>
         </div>
      </div>
      <div class="flex-column col-md-4 d-flex justify-content-center align-items-center gap-3">
         <img
            src="https://thumbs.dreamstime.com/b/alcoholic-cocktail-colorful-emblem-vintage-aperol-spritz-ice-cubes-skull-bottom-orange-drink-glass-vector-248658801.jpg"
            alt="icon"
            class="img-fluid"
            style="width: 11.5%; aspect-ratio: 1/1"
         />
         <div class="col text-center">
            <p>Đồ uống đa dạng<br />Ding tea, matcha, gongcha, coffes...</p>
         </div>
      </div>
   </div>
</div>
