
<div class="container">
    <h1>Thêm mới sản phẩm</h1>
      <form [formGroup]="addproductForm ">
        
        <mat-form-field class="mb-2">
          <mat-label for="productname" class="form-label">Nhập tên sản phẩm</mat-label>
          <input type="text" class="form-control fs-5" id="productname" name="productname" formControlName="productname"
            placeholder="productname" required matInput />
          <mat-error *ngIf="addproductForm.get('productname')?.hasError('required')">
            This field is required !
          </mat-error>
          <mat-error *ngIf="addproductForm.get('productname')?.hasError('minLength')">
            Enter at least 6-characters !
          </mat-error>
        </mat-form-field>


        <mat-form-field class="mb-2">
          <mat-label for="productprice" class="form-label">Nhập giá sản phẩm</mat-label>
          <input type="number" class="form-control fs-5" id="productprice" name="productprice" formControlName="productprice"
            placeholder="productprice" required matInput />
          <mat-error *ngIf="addproductForm.get('productprice')?.hasError('required')">
            This field is required !
          </mat-error>
          <mat-error *ngIf="addproductForm.get('productprice')?.hasError('minLength')">
            Enter at least 6-characters !
          </mat-error>
        </mat-form-field>
          <div class="form-group">
            <div class="mb-4 d-flex ">
                <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                alt="example placeholder" style="width: 300px;" />
            </div>
            <div class="d-flex ">
                <div class="btn btn-primary btn-rounded">
                    <label class="form-label text-white m-1" for="customFile1">Choose file</label>
                    <input type="file" class="form-control d-none" id="customFile1" />
                </div>
            </div>
        </div>
          <!-- <div class="form-group">
            <label for="exampleFormControlTextarea1">Mô tả</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="productdesc" required matInput></textarea>
            <mat-error *ngIf="addproductForm.get('productdesc')?.hasError('required')">
              This field is required !
            </mat-error>
          </div> -->


          <mat-form-field class="mb-2">
            <mat-label for="productdesc" class="form-label">Nhập mô tả sản phẩm</mat-label>
            <!-- <input type="text" class="form-control fs-5" id="productname" name="productname" formControlName="productname"
              placeholder="productname" required matInput /> -->

              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="productdesc" required matInput></textarea>
            <mat-error *ngIf="addproductForm.get('productdesc')?.hasError('required')">
              This field is required !
            </mat-error>
            <mat-error *ngIf="addproductForm.get('productdesc')?.hasError('minLength')">
              Enter at least 6-characters !
            </mat-error>
          </mat-form-field>
          <button type="button" class="btn btn-outline-success">Thêm mới</button>
        </form>

  </div>