<div class="d-flex justify-content-center p-5 modal-auth position-relative">
   <form class="form form-login mt-4" (ngSubmit)="addProduct()" [formGroup]="productForm">
      <h1 mat-dialog-title class="fw-semibold">Thêm mới sản phẩm</h1>
      <mat-form-field class="mb-2">
         <mat-label for="name" class="form-label">Tên sản phẩm</mat-label>
         <input class="form-control fs-5" matInput placeholder="Tên sản phẩm" formControlName="name" />
         <mat-error *ngIf="productForm.get('name')?.invalid && (productForm.get('name')?.dirty || productForm.get('name')?.touched)">
            <span *ngIf="productForm.get('name')?.hasError('required')">Name is required</span>
            <span *ngIf="productForm.get('name')?.hasError('minlength')">Name must be at least 3 characters long</span>
            <span *ngIf="productForm.get('name')?.hasError('whitespace')">Name cannot contain only whitespace</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mb-2">
         <mat-label for="name" class="form-label">Giá sản phẩm</mat-label>
         <input type="number" class="form-control fs-5" matInput placeholder="Giá" formControlName="price" />
         <mat-error *ngIf="productForm.get('price')?.hasError('required')"> This field is required ! </mat-error>
         <mat-error *ngIf="productForm.get('price')?.hasError('min')"> This field is > 0 ! </mat-error>
      </mat-form-field>

      <mat-form-field class="mb-2">
         <mat-label for="name" class="form-label">Image</mat-label>
         <input class="form-control fs-5" matInput placeholder="Ảnh" formControlName="image" />
         <mat-error *ngIf="productForm.get('image')?.hasError('required')"> This field is required ! </mat-error>
      </mat-form-field>

      
      <select class="mb-2" style="width: 100%; height: 50px" formControlName="categoryId">
         <option class="form-control fs-5" value="">Chọn danh mục</option>
         <option *ngFor="let cate of categories" [value]="cate._id">{{ cate.name }}</option>
      </select>

      <mat-form-field class="mb-2">
         <mat-label for="name" class="form-label">Mô tả</mat-label>
         <input class="form-control fs-5" matInput placeholder="Mô tả" formControlName="desc" />
         <mat-error *ngIf="productForm.get('desc')?.hasError('required')"> This field is required ! </mat-error>
      </mat-form-field>

      <button type="submit" class="btn btn-submit w-full" mat-raised-button [disabled]="productForm.invalid">Thêm sản phẩm</button>
   </form>
</div>