<!-- 
<div class="container">
    <h1>Thêm mới sản phẩm</h1>
      <form >
        
          <div class="form-group">
            <label for="formGroupExampleInput">Tên sản phẩm</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nhập tên sản phẩm">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Giá sản phẩm</label>
            <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Nhập giá sản phẩm">
          </div>
          <div class="form-group">
            <div class="mb-4 d-flex ">
                <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                alt="example placeholder" style="width: 300px;" />
            </div>
            <div class="d-flex ">
                <div class="btn btn-primary btn-rounded">
                    <label class="form-label text-white m-1" for="customFile1">Choose file</label>
                    <input type="file" class="form-control d-none" id="customFile1" />
                </div>
            </div>
        </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Mô tả</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="button" class="btn btn-outline-success">Add New Product</button>
        </form>

  </div> -->
 


   <!-- <div class="d-flex justify-content-center p-5 modal-auth position-relative">
    <form class="form form-login mt-4" [formGroup]="signupForm" (ngSubmit)="signUp()">
      <h1 mat-dialog-title class="fw-semibold">Thêm mới sản phẩm</h1>
      <mat-form-field class="mb-2">
        <mat-label for="name" class="form-label">Tên sản phẩm</mat-label>
        <input type="text" class="form-control fs-5" aria-describedby="nameHelp" id="name" name="name"
          placeholder="nhập tên sản phẩm" formControlName="name" required matInput />
        <mat-error *ngIf="signupForm.get('name')?.hasError('required')">
          This field is required !
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mb-2">
        <mat-label for="price" class="form-label">Giá sản phẩm</mat-label>
        <input type="number" class="form-control fs-5" aria-describedby="priceHelp" id="price" name="price"
          placeholder="nhập giá sản phẩm" formControlName="price" required matInput />
        <mat-error *ngIf="signupForm.get('price')?.hasError('required')">
          This field is required !
        </mat-error>
      </mat-form-field>


      <mat-form-field class="mb-2">
        <mat-label for="image" class="form-label">Chọn ảnh</mat-label>
        <input type="text" class="form-control fs-5" aria-describedby="imageHelp" id="image" name="image"
          placeholder="" formControlName="image" required matInput />
        <mat-error *ngIf="signupForm.get('image')?.hasError('required')">
          This field is required !
        </mat-error>
      </mat-form-field>


    
      <mat-form-field class="mb-2">
        <mat-label for="category" class="form-label">Danh mục</mat-label>
        <input type="text" class="form-control fs-5" aria-describedby="categoryHelp" id="category" name="category"
          placeholder="danh mục" formControlName="category" required matInput />
        <mat-error *ngIf="signupForm.get('category')?.hasError('required')">
          This field is required !
        </mat-error>
      </mat-form-field>


      <mat-form-field class="mb-2">
        <mat-label for="desc" class="form-label">Mô tả</mat-label>
        <input type="text" class="form-control fs-5" aria-describedby="descHelp" id="desc" name="desc"
          placeholder="nhập mô tả" formControlName="desc" required matInput />
        <mat-error *ngIf="signupForm.get('desc')?.hasError('required')">
          This field is required !
        </mat-error>
      </mat-form-field>
      
     
     
      <span class="text-danger fs-6 mb-2">{{this.msgFromServer}}</span>
      <button type="submit" class="btn btn-submit w-full" >Add New Product</button>
    </form>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="wavy">
      <path fill-opacity="1"
        d="M0,32L48,58.7C96,85,192,139,288,165.3C384,192,480,192,576,165.3C672,139,768,85,864,74.7C960,64,1056,96,1152,122.7C1248,149,1344,171,1392,181.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
      <defs>
        <clipPath id="wavy-mask">
          <path fill-opacity="1"
            d="M0,32L48,58.7C96,85,192,139,288,165.3C384,192,480,192,576,165.3C672,139,768,85,864,74.7C960,64,1056,96,1152,122.7C1248,149,1344,171,1392,181.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
          </path>
        </clipPath>
      </defs>
    </svg>
  </div>  -->


  <h1 mat-dialog-title class="fw-semibold">Thêm mới sản phẩm</h1> 
  <form (ngSubmit)="addProduct()" [formGroup]="productForm">
    <mat-form-field>
      <input matInput placeholder="Tên sản phẩm" formControlName="name">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Giá" formControlName="price">
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Ảnh" formControlName="image">
    </mat-form-field>
  
 
      <select   formControlName="categoryId">
        <option value="">chọn danh mục</option>
        <option *ngFor="let cate of categories" [value]="cate._id">{{cate.name}}</option>
        
      </select>

  
  
    <mat-form-field>
      <input matInput placeholder="Mô tả" formControlName="desc">
    </mat-form-field>
  
    <button type="submit" class="btn btn-submit w-full" mat-raised-button >Thêm sản phẩm</button>
  </form>