<h1 mat-dialog-title class="fw-semibold">Update Product</h1> 
<form (ngSubmit)="updateProduct()" [formGroup]="productForm">
  <mat-form-field>
    <input matInput placeholder="Tên sản phẩm" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Giá" formControlName="price">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Ảnh" formControlName="image">
  </mat-form-field>


    <select   formControlName="categoryId">
    
      <option *ngFor="let cate of categories" [value]="cate._id">{{cate.name}}</option>
      
    </select>



  <mat-form-field>
    <input matInput placeholder="Mô tả" formControlName="desc">
  </mat-form-field>

  <button type="submit" class="btn btn-submit w-full" mat-raised-button >Update Product</button>
</form>