<div class="p-3 search-wrapper">
    <button mat-icon-button (click)="closeDialog()" class="btn-close"><mat-icon></mat-icon></button>
    <mat-form-field class="mb-2 mt-5">
        <mat-label for="search" class="form-label">Search Products</mat-label>
        <div class="d-flex justify-content-between align-items-center">
            <input value={{value}} type="text" class="form-control fs-5 p-2" aria-describedby="emailHelp" id="search"
                name="search" placeholder="Search your product..." matInput [(ngModel)]="value"
                (input)="handleChange()" />
            <button *ngIf="value !== ''" mat-icon-button aria-label="Clear" (click)="handleResetValue()">
                <mat-icon>x</mat-icon>
            </button>
        </div>
    </mat-form-field>
    <div class="d-flex flex-column  pt-2">
        <p class="fs-2">Result</p>
        <div *ngIf="loading" class="d-flex justify-content-center align-items-center"><mat-spinner></mat-spinner></div>
        <div class="search-body" *ngFor="let product of products">
            <app-product-in-cart [product]="product"></app-product-in-cart>
        </div>
    </div>
</div>