/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

* {
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --primary-color: #f8bf25;
  --2light-color: #E893CF;
}
.cursor-pointer{
  cursor: pointer;
}
input{
  border: none !important ;
  background-color: transparent !important;
  width: 100% !important;
  height: 100% !important;
  outline: none !important;
}
.default-modal{
  width: 500px;
  height: 400px;
  background-color: white;
}
.mat-mdc-form-field{
  width: 100%;
}
.mat-mdc-form-field-focus-overlay, .mdc-text-field--filled{
  background-color: white !important;
}
.modal-auth{
  min-width:500px;
}
.mdc-dialog__container{
 border-radius: 10px;
}
.carousel{
  max-height: 400px !important;
}
.slick-prev{
  width: 2rem;
  height: 2rem;
  position: absolute !important;
  top:50% !important;
  left: -3rem !important;
  border-radius: 50% !important;
  color: #E893CF !important;
  box-shadow: 1px 1px 10px rgb(185, 184, 184) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-next{
  width: 2rem;
  height: 2rem;
  position: absolute !important;
  top:50% !important;
  right: -3rem !important;
  border-radius: 50% !important;
  color: #E893CF !important;
  box-shadow: 1px 1px 10px rgb(185, 184, 184) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-next::before{
  color: #E893CF;
  font-weight: bold;
  font-size: 1rem;
  display: block;
}
.slick-prev::before{
  color: #E893CF;
  font-weight: bold;
  font-size: 1rem;
  display: block;
}
html {
  overflow-y: overlay !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

a:hover {
  color: inherit !important;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-full {
  width: 100% !important;
}

.-left-1 {
  left: -0.5rem;
}

.-left-2 {
  left: -1rem;
}

.-left-3 {
  left: -1.5rem;
}

.text-primary {
  color: var(--primary-color);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffdfdf;
}